[Unit]
Description=GOES retention policy enforcement
After=network.target

[Service]
Type=simple
# this needs to run as the same user as satdump in order to allow filesystem write permissions in the target directory
User=satdump
Group=satdump
WorkingDirectory=/srv/goes-manager
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/srv/goes-manager/src
ExecStart=/usr/bin/python3 -m goes_retention --common-config /srv/goes-manager/config/common.json --config /srv/goes-manager/config/retention.json --execute
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
